In [1]:
import pandas as pd
from bs4 import BeautifulSoup

ORIGINAL_DATASET = "../data/general_answers.csv"
TARGET_DATASET = "../data/general_answers_new.csv"

data = pd.read_csv(ORIGINAL_DATASET, encoding='latin1')
data.head(2)

,Id,OwnerUserId,CreationDate,ParentId,Score,Body
0,92,61.0,2008-08-01T14:45:37Z,90,13,"<p><a href=""http://svnbook.red-bean.com/"">Vers..."
1,124,26.0,2008-08-01T16:09:47Z,80,12,<p>I wound up using this. It is a kind of a ha...

We will be using the function we define last time

In [2]:
def get_string(text):
    soup = BeautifulSoup(text, 'html.parser')
    lst = []
    for p in soup.find_all('p'):
        lst.extend(list(map(lambda x: x.string if x.string else "", p.children)))
    return "".join(lst)

In [3]:
def is_code_present(text):
    soup = BeautifulSoup(text, 'html.parser')
    return 1 if soup.pre else 0

In [4]:
data['full_text'] = data['Body'].apply(get_string)
data['is_code_present'] = data['Body'].apply(is_code_present)
data.head(2)

,Id,OwnerUserId,CreationDate,ParentId,Score,Body,full_text,is_code_present
0,92,61.0,2008-08-01T14:45:37Z,90,13,"<p><a href=""http://svnbook.red-bean.com/"">Vers...",Version Control with SubversionA very good res...,0
1,124,26.0,2008-08-01T16:09:47Z,80,12,<p>I wound up using this. It is a kind of a ha...,"I wound up using this. It is a kind of a hack,...",1

In [5]:
# Save to new file
data.to_csv(TARGET_DATASET, index=False)

In [6]:
data.shape

(2014516, 8)

In [7]:
# Sanity check
print(data.loc[1024]['Body'])
print('###################################')
print(data.loc[1024]['full_text'])

<p>How about if you are not sure about the interface yet and don't want any other code depending on the present interface? [That's off the top of my head, but I'd be interested in other reasons as well!]</p>

<p>Edit:
A bit of googling gave the following:
<a href="http://codebetter.com/blogs/patricksmacchia/archive/2008/01/05/rambling-on-the-sealed-keyword.aspx" rel="nofollow"><a href="http://codebetter.com/blogs/patricksmacchia/archive/2008/01/05/rambling-on-the-sealed-keyword.aspx" rel="nofollow">http://codebetter.com/blogs/patricksmacchia/archive/2008/01/05/rambling-on-the-sealed-keyword.aspx</a></a></p>

<p>Quoting:</p>

<p>There are three reasons why a sealed class is better than an unsealed class:</p>

<ul>
<li><strong>Versioning</strong>: When a class is originally sealed, it can change to unsealed in the future without breaking compatibility. (â¦)</li>
<li><strong>Performance</strong>: (â¦) if the JIT compiler sees a call to a virtual method using a sealed types, the JIT compiler can produce more efficient code by calling the method non-virtually.(â¦)</li>
<li><strong>Security and Predictability</strong>: A class must protect its own state and not allow itself to ever become corrupted. When a class is unsealed, a derived class can access and manipulate the base classâs state if any data fields or methods that internally manipulate fields are accessible and not private.(â¦)</li>
</ul>

###################################
How about if you are not sure about the interface yet and don't want any other code depending on the present interface? [That's off the top of my head, but I'd be interested in other reasons as well!]Edit:
A bit of googling gave the following:
http://codebetter.com/blogs/patricksmacchia/archive/2008/01/05/rambling-on-the-sealed-keyword.aspxQuoting:There are three reasons why a sealed class is better than an unsealed class:

In [8]:
# Apply to qns
ORIGINAL_DATASET = "../data/general_questions.csv"
TARGET_DATASET = "../data/general_questions_new.csv"

data_question = pd.read_csv(ORIGINAL_DATASET, encoding='latin1')
data.head(2)

,Id,OwnerUserId,CreationDate,ParentId,Score,Body,full_text,is_code_present
0,92,61.0,2008-08-01T14:45:37Z,90,13,"<p><a href=""http://svnbook.red-bean.com/"">Vers...",Version Control with SubversionA very good res...,0
1,124,26.0,2008-08-01T16:09:47Z,80,12,<p>I wound up using this. It is a kind of a ha...,"I wound up using this. It is a kind of a hack,...",1

In [9]:
data_question['full_text'] = data_question['Body'].apply(get_string)
data_question['is_code_present'] = data_question['Body'].apply(is_code_present)
data_questionestionestionestionestionestionquestion.head(2)

,Id,OwnerUserId,CreationDate,ClosedDate,Score,Title,Body,full_text,is_code_present
0,80,26.0,2008-08-01T13:57:07Z,NaN,26,SQLStatement.execute() - multiple queries in o...,<p>I've written a database generation script i...,I've written a database generation script in S...,1
1,90,58.0,2008-08-01T14:41:24Z,2012-12-26T03:45:49Z,144,Good branching and merging tutorials for Torto...,<p>Are there any really good tutorials explain...,Are there any really good tutorials explaining...,0

In [10]:
data_question.to_csv(TARGET_DATASET, index=False)
data_question.shape

(1264216, 9)

In [2]:
import pandas as pd
# Only get the valid qns
ORIGINAL_DATASET = "../data/general_questions_new.csv"
TARGET_DATASET = "../data/general_questions_new_new.csv"

data_question = pd.read_csv(ORIGINAL_DATASET, encoding='latin1')
data_question.head(2)

,Id,OwnerUserId,CreationDate,ClosedDate,Score,Title,Body,full_text,is_code_present
0,80,26.0,2008-08-01T13:57:07Z,NaN,26,SQLStatement.execute() - multiple queries in o...,<p>I've written a database generation script i...,I've written a database generation script in S...,1
1,90,58.0,2008-08-01T14:41:24Z,2012-12-26T03:45:49Z,144,Good branching and merging tutorials for Torto...,<p>Are there any really good tutorials explain...,Are there any really good tutorials explaining...,0

In [4]:
data_question = data_question.loc[data_question['ClosedDate'].isnull()]
data_question.head(1)

,Id,OwnerUserId,CreationDate,ClosedDate,Score,Title,Body,full_text,is_code_present
0,80,26.0,2008-08-01T13:57:07Z,NaN,26,SQLStatement.execute() - multiple queries in o...,<p>I've written a database generation script i...,I've written a database generation script in S...,1

In [5]:
data_question.to_csv(TARGET_DATASET, index=False)

In [6]:
data_question.shape

(1208257, 9)